/*index*/
/* Font-face Icons */
@font-face {
	font-family: 'title-font';
	src:url('../fonts/RZRGHJ.ttf');
	font-weight: normal;
	font-style: normal;
}
#title{
    font-size: 30px;
    padding-top: 47px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-family: title-font;
}

#title p{
	color: #835039;
	font-family: title-font;
}

#navbar{
    width: 950px;
    background-color: #efe8e0;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(171,187,191);
}
#navbar a{
    height: 40px;
    width: 190px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #835039;
    display: block;
    float: left;
}
#navbar a:hover{
    color: #5C765C;
	text-decoration:none;
}

navbar a.active{
	background-color: #e8d8a0;
}
#photo{
    width: auto;
    height: auto;;
}
#photo img{
    display: block;
    margin: 3px auto;
}



#index-footer{
    height: 40px;
    margin-top: 35px;
	/* background-color: rgba(206,226,198,0.5);  */
    text-align: center;
}


 #index-footer img{
	height:24px;
	margin:10px 5px 6px 5px;
} 